.swiper-pagination-bullet-active {
    background-color: #f59e0b !important;
    width: 24px !important;
    border-radius: 8px !important;
}

.swiper-pagination-bullet {
    background-color: #94a3b8;
}